#journal	{ width: 106px; line-height: 17px; border-right: solid 1px #999999; }
#tukubai	{ width:  58px; line-height: 17px; border-right: solid 1px #999999; }
#tukubai_man	{ width: 185px; line-height: 17px; border-right: solid 1px #999999; }
#cmd_tips	{ width:  87px; line-height: 17px; border-right: solid 1px #999999; }
#shell_tips	{ width: 171px; line-height: 17px; border-right: solid 1px #999999; }
#info		{ width:  31px; line-height: 17px; border-right: solid 1px #999999; }

#megamenu {
  display: table;
  width: 680px;
  font-size: 90%;
  word-spacing: -0.4em;
  text-align: center;
}

#megamenu > li {
  display: inline-block;
  word-spacing: normal;
  position: relative; /* for JavaScript tweak feature */

  background-color: #000000;

  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#000000)); 
  background: -webkit-linear-gradient(top, #444444, #000000);
  background:    -moz-linear-gradient(top, #444444, #000000);
  background:     -ms-linear-gradient(top, #444444, #000000);
  background:      -o-linear-gradient(top, #444444, #000000);
  background:         linear-gradient(top, #444444, #000000);
  filter:     progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#444444, endColorstr=#000000);

  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;

}

#megamenu > li > a {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.0);
}

#megamenu > li > ul { /* submenu:hidden */
  display: table;
  position: absolute;
  padding-left: 20px;
  text-align: left;

  background: #FFFFFF;
  border: 1px solid #999999;

  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

#megamenu > li:hover > ul {  /* submenu:visible */
  max-height: 800px;
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  z-index: 10;
}

#megamenu > li:active > ul {  /* submenu:visible for iPad and iPhone */
  max-height: 800px;
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  z-index: 10;
}

#megamenu > li > ul > li {
  display: inline-block;
  word-wrap: break-word;
  margin-top: 3px;
  margin-bottom: 3px;
}

/* triangle-right */
#megamenu > li > ul > li::before {
  position: absolute;
  content: '';
  margin-top: 0.51em;
  margin-left: -10px;
  border-top: 3px solid transparent;
  border-left: 6px solid lightgray;
  border-bottom: 3px solid transparent;
}

#megamenu > li > ul > li > a {
  font-size: 100%;
  color: #000000;
}

#megamenu a {
  text-decoration: none;
}

.target {
  font-weight: bold !important;
}

.opened {
  color: #FFFFFF !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#333333)) !important;
  background: -webkit-linear-gradient(top, #888888, #333333) !important;
  background:    -moz-linear-gradient(top, #888888, #333333) !important;
  background:     -ms-linear-gradient(top, #888888, #333333) !important;
  background:      -o-linear-gradient(top, #888888, #333333) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#888888, endColorstr=#333333) !important;
}

.opened > a {
  color: #FFFFFF !important;
  font-weight: normal !important;
  background-color: rgba(0, 0, 0, 0.0) !important;
}

/*
 * Copyright (c) 2012 Universal Shell Programming Laboratoryratory
 *
 * Permission is hereby granted, free of charge, to any person 
 * obtaining a copy of this software and associated documentation 
 * files (the "Software"), to deal in the Software without restriction, 
 * including without limitation the rights to use, copy, modify, merge, 
 * publish, distribute, sublicense, and/or sell copies of the Software, 
 * and to permit persons to whom the Software is furnished to do so, 
 * subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be 
 * included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, 
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF 
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY 
 * CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, 
 * TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE 
 * SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */
